h1{
    font-size:2em;
    margin:0.67em 0
}
.container h1 {
    font-size: 40px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-put;
    transition-timing-function: ease-in-put;
    font-weight: 200;
}

.row{
    margin-left:-15px;
    margin-right:-15px
}

input{
    line-height:normal
}
input[type="checkbox"],input[type="radio"]{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
    height:auto
}
input[type="search"]{
    -webkit-appearance:textfield;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
    -webkit-appearance:none
}

.wrapper2 {
    background-color: #00529c;
    position: absolute;
    text-align: center;
    top: 12%;
    left: 0%;
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    overflow: hidden;
}
.wrapper {
    background-color: #004275;
    background: -webkit-linear-gradient(top left, #004275 0%, #0490FB 100%);
    background: linear-gradient(to bottom right, #004275 0%, #0490FB 100%);
    margin: 0;
    margin-bottom: 10%;
    margin-top: 7%;
    padding: 15px;
    text-align: center;
    border-radius: 3px;
}
.wrapper h1 {
    font-size: 40px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-put;
    transition-timing-function: ease-in-put;
    font-weight: 200;
}
.error {
    color: orange;
    font-size: 14px;
}
.tyc {
    color: black;
    font-size: 12px;
}
.wrapper a {
    color: white;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}
.tyc a {
    color: orange;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
}
.tyc label {
    color: #dbdbdb;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
}
.error label {
    color: orange;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
}
.wrapper.form-success .container h1 {
    -webkit-transform: translateY(85px);
    transform: translateY(85px);
}

.modal {
    display: none;
   /* Hidden by default */
    position: fixed;
   /* Stay in place */
    z-index: 1;
   /* Sit on top */
    padding-top: 100px;
   /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
   /* Full width */
    height: 190%;
   /* Full height */
    overflow: auto;
   /* Enable scroll if needed */
    background-color: rgb(0,0,0);
   /* Fallback color */
    background-color: rgba(0,0,0,0.4);
   /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
    height: 200%;
}

.content h1 {
    font-size: 45px;
    margin-bottom: 0;
}

.content {
    min-height: 500px;
}

.form-control{
    display:block;
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition:border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.form-control:focus{
    border-color:#66afe9;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6)
}
.form-control::-moz-placeholder{
    color:#999;
    opacity:1
}
.form-control:-ms-input-placeholder{
    color:#999
}
.form-control::-webkit-input-placeholder{
    color:#999
}
.form-control::-ms-expand{
    border:0;
    background-color:transparent
}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{
    background-color:#eee;
    opacity:1
}
.form-control[disabled],fieldset[disabled] .form-control{
    cursor:not-allowed
}
textarea.form-control{
    height:auto
}
input[type="search"]{
    -webkit-appearance:none
}
@media screen and (-webkit-min-device-pixel-ratio:0){
    input[type="date"].form-control,input[type="time"].form-control,input[type="datetime-local"].form-control,input[type="month"].form-control{
        line-height:34px
    }
    input[type="date"].input-sm,input[type="time"].input-sm,input[type="datetime-local"].input-sm,input[type="month"].input-sm,.input-group-sm input[type="date"],.input-group-sm input[type="time"],.input-group-sm input[type="datetime-local"],.input-group-sm input[type="month"]{
        line-height:30px
    }
    input[type="date"].input-lg,input[type="time"].input-lg,input[type="datetime-local"].input-lg,input[type="month"].input-lg,.input-group-lg input[type="date"],.input-group-lg input[type="time"],.input-group-lg input[type="datetime-local"],.input-group-lg input[type="month"]{
        line-height:46px
    }
}
.form-group{
    margin-bottom:15px
}

form {
    padding: 0 0 10px;
    position: relative;
    z-index: 2;
}
form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: none;
    background-color: #e5e5e5;
    width: 250px;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 0 auto 15px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #abacae;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
}
form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
    background-color: white;
    width: 95%;
    color: #004275;
}
form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #004275;
    border-radius: 4px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}
form button:hover {
    background-color: #f3971a;
}
form > a {
    display: block;
    text-decoration: none;
    color: #abacae;
    margin: 15px 0;
}
form input::-webkit-input-placeholder {
   /* Chrome/Opera/Safari */
    color: #abacae;
}
form input::-moz-placeholder {
   /* Firefox 19+ */
    color: #abacae;
}
form input:-ms-input-placeholder {
   /* IE 10+ */
    color: #abacae;
}
form input:-moz-placeholder {
   /* Firefox 18- */
    color: #abacae;
}

